/* src/components/BookingsComponent.css */

.section {
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.subHeading {
    font-size: 24px;
    margin: 0;
}

.refresh-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.refresh-button:hover {
    background-color: #0056b3;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
    align-items: center; /* Align items vertically in the center */
}

.filter-button {
    padding: 12px 25px; /* Slightly larger padding */
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    font-size: 16px; /* Increase font size slightly */
}

.filter-button.active {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

.filter-button:hover {
    background-color: #f8f9fa;
}

.filter-select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    height: 40px; /* Match the input fields height */
}

.filter-input {
    width: 150px; /* Fixed width */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
    box-sizing: border-box;
    margin-bottom: 10px;
    height: 40px; /* Uniform height for all input fields */
}

.filter-input:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(38, 143, 255, 0.5);
    outline: none;
}

.table-responsive {
    overflow-x: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

.table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.table td {
    background-color: #fff;
}

.delete-button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: #dc3545;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete-button:hover {
    background-color: #c82333;
}
